*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
   background: #e0e0e0;
    max-width: 700px;

}

.barras{display: none;}
.desplegable{background: #ffffff;}
ul{
    display: flex;
    flex-direction: row;
}
ul li{
    padding: 60px;
    list-style: none;
}
ul li a{  color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
}
nav ul li:hover{background: #c9c9c9; }
@media (max-width: 800px) {
.barras{
    background-color: #ffffff;
    display: block;
    width: 90vh;
}
.desplegable{
    background:  #c9c9c9;
    transform: translate(-100%);
    transition: 0.5s;
    font-size: 1.5rem;
    width: 80%;
}
ul{
    display: flex;
    flex-direction: column;
    height: 130vh;
}
a{
    padding: 0;
}
a{
    font-size: 1.5rem;
    padding: 25px 0px 25px 25px;
    display: block;
    text-align: center;
}
.boton_menu{
    background-image: url(fondo/iconomenu.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    background-size: 35px 35px;
    background-position: center;
}
button{
    margin: 50px;
    border: none;
    margin: 40px 40px 40px 40px;
}
.abrir_menu{
    background: rgba(125, 124, 124, 0.6);
    backdrop-filter: blur(2px);
    transform: translate(0%);
    width: 800px;
    transition: 0.5s;
}
.colocar_x{
    background-image: url(fondo/x.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
    background-position: center;
}
@media (max-width: 100vh){
    .desplegable{
        width: 100%;
        height: 100vh;
        font-size: 1.6rem;
    }
}
}

h1, h3{
    color: #252524;
}

.img:hover{
    transform: scale(1.1);
    filter: brightness(80%);
    transition: transform 2s, filter 2s;
}

.img{
       padding: 50px;
    text-align: center;
    vertical-align: top;
}

.peluches{
    text-align: center;
}



h3{
    margin-top: 10px;
    font-family: 'Times New Roman' Black; 
    font-weight: bold;  
    font-size: 20px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: animacion 3s ease-in-out forwards;
    clip-path: inset(0 100% 0 0);
    background-color: rgb(204, 204, 204);
}
  @keyframes animacion {
    0% { clip-path: inset(0 100% 0 0); } 
    100% { clip-path: inset(0 0 0 0); } 
  }

  nav{
    background-color: #ffffff;
  }
  .logo{

    position: absolute;
    vertical-align: top;
    top: 0%;
    left: 85%;
  }    
